body {
    background-color: #c3f0ca;
    font-family: 'Space Mono', monospace;
    line-height: 1.6;
    background: rgba(175, 238, 238, 0.3);
    color: lightcoral;
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
  }

  
